<%= form_for(poly) do |f| %>
  <% if poly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poly.errors.count, "error") %> prohibited this poly from being saved:</h2>

      <ul>
      <% poly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name: The name users will search for" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :docs %>
    <%= f.text_field :docs %>
  </div>

  <div class="field">
    <%= f.label :bugtracker %>
    <%= f.text_field :bugtracker %>
  </div>

  <div class="field">
    <%= f.label :downloads %>
    <%= f.text_field :downloads %>
  </div>

  <div class="field">
    <%= f.label :license %>
    <%= f.text_field :license %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= f.label :submittedby %>
    <%= f.text_field :submittedby %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :gitsshurl %>
    <%= f.text_field :gitsshurl %>
  </div>

  <div class="field">
    <%= f.label :repotype %>
    <%= f.text_field :repotype %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
