<p id="notice"><%= notice %></p>

<h1>Polies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Repotype</th>
      <th>Repourl</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @polies.each do |poly| %>
      <tr>
        <td><%= poly.name %></td>
        <td><%= poly.description %></td>
        <td><%= poly.repotype %></td>
        <td><%= poly.repourl %></td>
        <td><%= link_to 'Show', poly %></td>
        <td><%= link_to 'Edit', edit_poly_path(poly) %></td>
        <!-- <td><%= link_to 'Destroy', poly, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Poly', new_poly_path, class: "btn btn-success" %>
