<p id="notice"><%= notice %></p>

<h1>Poly's</h1>
<br>
<hr>

<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Docs</th>
      <th>Bugtracker</th>
      <th>Downloads</th>
      <th>License</th>
      <th>Author</th>
      <th>Submittedby</th>
      <th>Website</th>
      <th>Gitsshurl</th>
      <th>Repotype</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @polies.each do |poly| %>
      <tr>
        <td><%= poly.name %></td>
        <td><%= poly.description %></td>
        <td><%= poly.docs %></td>
        <td><%= poly.bugtracker %></td>
        <!-- <td><%= poly.downloads %></td> -->
        <td><%= poly.license %></td>
        <td><%= poly.author %></td>
        <td><%= poly.submittedby %></td>
        <td><%= poly.website %></td>
        <td><%= poly.gitsshurl %></td>
        <td><%= poly.repotype %></td>
        <td><%= link_to 'Show', poly %></td>
        <td><%= link_to 'Edit', edit_poly_path(poly) %></td>
        <td><%= link_to 'Destroy', poly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <hr>
        <br>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Poly', new_poly_path %> -->
