<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @poly.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @poly.description %>
</p>

<p>
  <strong>Repotype:</strong>
  <%= @poly.repotype %>
</p>

<p>
  <strong>Repourl:</strong>
  <%= @poly.repourl %>
</p>

<%= link_to 'Edit', edit_poly_path(@poly) %> |
<%= link_to 'Back', polies_path %>
